.banner-container{
    background-image: url("../images/banner/banner1.png");
    height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    display: flex;
    align-items: center;
    
}

.banner-info{
    margin-left: 1100px;
    text-align: right;
    font-size: 22px;
}

.btn{
    background-color: orange;
    width: 160px;
    height: 64px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: aliceblue;
}